click==7.1.2
Flask==2.2.5
Flask-MySQLdb==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==2.0.3
pygame==2.0.1
python-http-client==3.3.2
sendgrid==6.6.0
stanfordkarel==0.2.5
starkbank-ecdsa==2.0.1
Werkzeug==1.0.1
